/*颜色*/
.purple{
	color: #522A5C;
	/*82 42 92*/
}
.purple3{
	color: #773C88;
}
.purple-bg{
	background-color:#522A5C;
}
.purple2-bg{
	background-color:#A660B7;
}
.white{
	color: #fff;
}
.white-bg{
	background-color: #fff;
}
.gray{
	color: #999;
}
.gray2{
	color: #666;
}
/*栅栏*/
.row{
	width: 100%;
}
.col-4{
	float: left;
	width: 33.33%;
	margin: 0;
}
.col-8{
	float: left;
	width: 66.67%;
	margin: 0;
}
.col-3{
	float: left;
	width: 25%;
	margin: 0;
}

/*图片自适应*/
.img-responsive{
	max-width: 100%;
}
.img-circular{
	display:inline-block;
    position:relative;    
    overflow:hidden;
    border-radius:50%;
    margin: 0 auto;
    left: 50%;
}
.img-circular img{
	width:auto;
    height:100%;
}
/*头像上移*/
.img-circular-top{
	top: -60px;
}
.img-circular-l{
	width:160px;
    height:160px;
    /*设置图片的中心为相对原点 left:50%即可居中*/
    margin-left: -80px;
}
.img-circular-m{
	width:100px;
    height:100px;
    margin-left: -50px;
}

.shadow-l{
	box-shadow: 0 0 0 10px #eee;
}
.shadow-m{
	box-shadow: 0 0 0 6px #eee;
}

/*文本处理*/
.text-indent{
	text-indent: 2em;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.clear{
	clear: both;
}
.left{
	float: left;
}
.right {
	float: right;
}
/*清楚浮动*/
.clearfix:after{
    content:"";
    display: block;
    clear:both;
}

@media  (max-width:768px) {
	.img-circular-s{
	width:120px;
    height:120px;
    margin-left: -60px;
	}
	.img-circular-xs{
		width:60px;
	    height:60px;
	    margin-left: -30px;
	}
	.hidden{
		display: none;
	}
}