body{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.container{
	width: 100%;
	font-family:  '宋体';
	position: relative;
	background-color: #eee;
	overflow: hidden;
}
/*头部尾部样式*/
header{
	width: 100%;
	height: 80px;
	position: relative;
}
header .header-title{
	height: 80px;
	display: inline-block;
	position: absolute;
    width: 80%;
    /*居中*/
    margin: auto;
    left: 0;top: 0;bottom: 0;right: 0;
}
header .header-title h1{
	cursor: default;
	font-size: 2em;
	margin-top:20px; 
}
.navbar-toggle{
	display: none;
	padding: 22px 27px;
    border: 1px solid transparent;
    border-radius: 12px;
    margin-top: 18px;
}
header nav{
	height: 80px;
	display: inline-block;
	position: absolute;
	right: 13%;
}
header nav ul li{
	font-size: 1.2em;
	text-align: center;
	display: inline-block;
	line-height: 80px;
	margin: 0 16px;
}
header nav ul li a{
	color: #ffffff;
}
header .header-logo{
	display: inline-block;
	position: absolute;
	margin-top: 31px;
	right: 9%;
}
footer{
	width: 100%;
	background-color: #000;
	color: #fff;
	position: relative;
	overflow: hidden;
}
footer a{
	color: #fff;
}
footer .footer-content{
	width: 80%;
	margin: 0 auto;
}
footer .footer-content ul li{
	padding: 0 0.8em;
	display: inline-block;
}
footer .footer-content hr{
	border: 1px solid #333;
	width: 300%;
	margin-left: -250px;
}
footer .footer-content div div{
	float: left;
	width: 20%;
	position: relative;
}
footer .footer-content div div ul{
	position: relative;
	left: -2em;
}
footer .footer-content div div ul li{
	display: block;
}
footer .footer-content div div ul li a:hover{
	text-decoration: underline;
}
/*index页面*/
.section-1{
	background: url(../images/pic01.jpg) no-repeat center;
	width: 100%;
	min-height: 530px;
	position: relative;
}
.modal{
	width:30%;
	max-width: 360px;
	background:rgba(255,255,255,0.41);
	position: absolute;
	bottom: 0;
	left: 55%;
	padding: 0em 0.5em 1.5em 0.5em;
	border-radius: 5px;
}
.modal .modal-title{
	margin-right: 9px;
	margin-bottom: 19px;
}
.section-2{
	width: 100%;
	position: relative;
	margin-top: 1em;
	margin-bottom: 10em;
	overflow: hidden;
}
.section-2 .figures{
	width: 90%;
	max-width: 1500px;
	margin: 0 auto;
	/*让三列布局等高*/
}
.section-2 .figure{
	background-color: #fff;
	/*让三列布局等高,数字可以尽可能大*/
	margin-bottom: -500px;
    padding-bottom: 500px;
    margin-right: 10px;
}
.section-2 .figure figcaption{
	margin: 20px;
}
.section-2 .figure:nth-child(1){
	margin-left: -30px;
}
figure{
	margin: 10px;
}
.section-3{
	width: 100%;
	position: relative;
	background-color: #fff;
}
/*居中*/
.jumbotron{
	margin: 0 auto;
}
.introduction{
	width: 80%;
	max-width: 600px;
	padding-bottom: 3em;
}
.introduction article{
	text-align: center;
	margin:2em;
}

/*profile*/
.timeline{
	width:95%;
	max-width: 1000px;
	margin-top:5em;
}
.timeline::before { 
  content: ''; 
  position: absolute; 
  top: 7%; 
  left: 50%; 
  height: 90%; 
  width: 6px; 
  background: #eee; 
} 
.timeline .timeline-block{
	margin-bottom: 40px;
	position: relative;
}
.timeline-block .tl-title{
	width: 40%;
	font-size: 1.5em;
}
.timeline-block .tl-mes{
	width: 30%;
	margin-left: 50%;
	padding-left: 40px;
	margin-top: -27px;
}
.timeline-block .timeline-block-img{
	margin-bottom: 35px;
}
.timeline-block .tl-time{
	display: inline-block;
	margin-left: 47%;
	padding: 0.4em 1em;
	border-radius: 9px;
	margin-bottom: 50px;
	background-color: #fff;
}
.timeline-block .tl-time-block{
	margin-top: -22px;
}
.timeline-block .tl-time span{
	margin-bottom: 30px;
}
.timeline-block .tl-text-block{
	position: absolute;
	left: 50%;
	margin-top: -25px;
}
.timeline-block .tl-text-block div{
	margin-bottom:54px;
	margin-left:  51px; 
}

/*blog*/
.blog{
	width: 90%;
	max-width: 1000px;
	min-height: 1300px;
}
.blog-tags{
	width: 30%;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.blog-tags .blog-tag{
	background-color: #fff;
}
.blog-article{
	position: relative;
	margin-bottom: 2em;
}
.blog-article article{
	background-color: #fff;
	position: relative;
	padding-bottom: 35px;
}
.blog-article article h1,.blog-article article h3,.blog-article article p{
	margin:10px 20px;
}
.blog-article article h1{
	padding-top: 20px;
	font-size: 16px;
}
.blog-article article h3{
	font-size: 12px;
}
.blog-article article .blog-mark{
	position: absolute;
	left: -53px;
	top: 25px;
}
.blog-article article .blog-mark p{
	color: #fff;
	padding: 9px 10px;
	margin:0; 
}
.blog-article article span{
	color: #999;
	float: right;
	margin-right: 20px;
}
.blog-article ul li{
	display: inline-block;
	padding: 0.5em 1em;
	background-color: #fff;
}
.blog-article ul li:hover{
	background-color: #A660B7;
	color: #fff;
}
.search div{
	position: relative;
	height: 80px;
}
.blog-tag input{
	border: 1px solid #ddd;
	line-height: 40px;
	height: 40px;
	width: 70%;
	margin: auto;
	position: absolute;
	left: 0;right: 0;bottom: 0px;top: 0px;
	font-size: 1em;
	padding-left: 32px;
}
.blog-tag img{
	position: absolute;
	left: 10%;
    top: 30%;
}
.blog-tag button{
	position: absolute;
    right: 8%;
    top: 22%;
    border: none;
    background-color: #ddd;
    padding: 8px 11px;
    font-size: 1.5em;
}
.blog-tag-menu ul{
	margin-left: -40px;
}
.blog-tag-menu ul li{
	padding: 10px 5px;
	border-bottom: 1px solid #ddd;
	border-left: 6px solid #DFC6E6;
}
.blog-tag-menu ul li:hover{
	border-left: 6px solid #522A5C;
}

/*日历样式*/
.calendar{
	width: 100%;
	height: 325px;
	overflow: hidden;
	font-size: 16px;
}
.time{
	width: 100%;
	position: relative;
}
.time .time-today{
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
	color: #773C88;
	font-weight: bolder;
	margin-top: 10px;
}
	
.time div{
	height: 35px;
	line-height: 35px;
	text-align: center;
	width: 100px;
	cursor: pointer;
	top:0px;
}
.time-nextmonth{
	position: absolute;
	right: 0px;
	margin-right: -44px;
}
.time-lastmonth{
	position: absolute;
	left: 0px;
	margin-left: 20px;

}
.calendar  ul{
	margin-left: -10px;
}
.calendar  li{
	color: #999;
	list-style: none;
	float: left;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.blog-tag:nth-of-type(4){
	padding:0 1em 1em;
}
.blog-tag-title{
	padding-top: 1em;
}
.font1{
	font-size: 26px;
	font-weight: bolder;
}
.font2{
	font-size: 24px;
	font-weight: bolder;
}
.font3{
	font-size: 22px;
}
.font4{
	font-size: 12px;
}

.gallery{
	max-width: 1200px;
}
/*tab页样式 */
.tab{
	margin-top: 10px;
}
.tab label{
	padding: 15px 20px;
	background-color: #fff;
	float: left;
	border-bottom: 2px solid #eee;
	margin-right: 2px;
	cursor: pointer;
}
.tab label:nth-of-type(1){
	border-top: 5px solid #522A5C;
}
.tab label:nth-of-type(2){
	border-top: 5px solid #DFC6E6;
	/*223 198 230*/
}
.tab label:nth-of-type(3){
	border-top: 5px solid #D2A6FF;
	/*210 166 255*/
}
.tab label:nth-of-type(4){
	border-top: 5px solid #FFA98C;
	/*255 169 140*/
}
.tab label:nth-of-type(5){
	border-top: 5px solid #FFE188;
	/*255 225 136*/
}
.tab input,#content1,#content2,#content3,#content4,#content5{
	display: none;
	clear: both;
	background-color: #fff;
}
/*被选中的tab页底部border为白*/
.tab input:checked + label {
  border-bottom-color: #fff;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, 
#tab3:checked ~ #content3, #tab4:checked ~ #content4 ,
#tab5:checked ~ #content5 {
  display: block;
}

.waterfall{
	-moz-column-count: 4;
	-webkit-column-count: 4;
	/*一行分为4列*/
	column-count: 4;
	-moz-column-width: 10em;
	-webkit-column-width: 10em;
	/*每列的宽度*/
	column-width: 10em;
	column-gap:10px;
	padding: 20px;
}
.pin div{
	position: relative;
	width: 77%;
	padding-right: 10px;
	left: 45px;
	font-size: 12px;
	color: #fff;
}
.pin div p{
	padding-bottom: 10px;
}
/*图片下的文本的字母 利用content*/
.pin div:before{
    width: 30px;
    border: 1px solid #CBC9C9;
    display: inline-block;
    position: absolute;
    left: -40px;
    top: -5px;
    border-radius: 20px;
    text-align: center;
    padding: 7px 0px;
}
.pin:nth-child(4n+0) div:before{
	content: 'J';
}
.pin:nth-child(4n+1) div:before{
	content: 'A';
}
.pin:nth-child(4n+2) div:before{
	content: 'F';
}
.pin:nth-child(4n+3) div:before{
	content: 'U';
}
.pin:nth-child(4n+0){
	background-color: #522A5C;
}
.pin:nth-child(4n+1){
	background-color: #D9A300;
}
.pin:nth-child(4n+2){
	background-color: #8C2300;
}
.pin:nth-child(4n+3){
	background-color: #5900B2;
}
.pin img{
	max-width: 100%;
}

.tab button{
	width: 100%;
	margin: 20px 0;
	background-color: #fff;
	border: none;
	line-height: 50px;
	color: #ccc;
	position: relative;
}
.tab button img{
	position: relative;
	top: 12px; 
}
.blog-tags-gallery{
	margin-top: 65px;
	position: relative;
}
.blog-tags-gallery p{
	padding: 17px 24px;
}
.tag-gallery div span:nth-child(1){
	position: relative;
    top: -26px;
    left: 19px;
    background-color: #522A5C;
    padding: 4px 8px;
    border-radius: 12px;
    color: #fff;
}
.tag-gallery div span:nth-child(3){
	position: absolute;
	float: right;
	margin-left: 20px;
}
.progress{
	width: 50%;
	height: 20px;
	background-color: #F6F6F6;
	border: 1px solid #522A5C;
	margin-left: 40px;
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 25px;
}
.progress_bar{
	height: 20px;
	background-color: #522A5C;
}
@media  (max-width:768px) {
	/*头尾*/
	.navbar-toggle{
		display: block;
		float: right;
	}
	header nav{
		position: absolute;
	    z-index: 100;
	    margin-top: 63px;
	    width: 100%;
	    margin-left: -25px;
	    transition: width 2s;
	}
	.collapse{
		display: none;
	}
	.in{
		display: block;
		background-color: #fff;
		border-bottom: 1px solid #522A5C;
	}
	.in:nth-child(1){
		background-color: #A660B7;
	}
	.in a{
		color: #522A5C;
        width: 100%;
        display: inline-block;
	}
	footer .footer-content{
		width: 95%;
	}
	footer .footer-content div div{
		width: 100%;
		float: none;
	}
	footer .footer-content div div span{
		float: left;
	}
	footer .footer-content div div ul{
		text-align: left;
		left: 0.3em;

	}
	footer .footer-content div div ul li{
		display: inline-block;
	}
	.modal{
		width: 85%;
		height: 400px;
		margin: auto;  
  		top: 0; left: 0; bottom: 0; right: 0;  
	}
	.modal .modal-title{
		margin-right: 20px;
	}
	.modal p{
		font-size: 2em;
	}
	.section-2 .figure{
		width: 100%;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.section-2 .figure:nth-child(1){
		margin-left: 0px;
	}

	.timeline-block .tl-mes{
		width: 38%;
	}
	.timeline-block .tl-time{
		margin-left: 41.5%;
	}
	.blog-tags{
		float: none;
		width: 100%;
		margin-left: 0px;
	}
	.blog-article{
		width: 100%;
		margin-top: 80px;
	}
	.tab{
		width: 100%;
		margin-top: 90px;
	}
	.blog-tags-gallery{
		margin-top: 10px;
	}

}